/* NAVBAR*/
.navbar {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 999;
  transition: all 0.3s ease;
  height: 6em;
}
.navbar-expand-lg .navbar-collapse{
  margin-left: 26em;
  padding-left: 2em;
  font-family: Inika;
  font-style: normal;
  font-size: 1.5em;
  line-height: 2em;
 
}
.navbar-light .navbar-nav .nav-link.active{
  margin-left: 0.9em;
  color: rgb(255, 255, 255);

}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: #0e0e0ece;
}
.navbar-brand{
  margin-top:1.5em ;
}
.navbar-brand2{
  margin-top:0.5em ;
}


/* HOME*/
#homee{/* imagem de fundo*/
  background-image: url('../img/Fundo2.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 102VH;
}
.col-md-6{/* Titulo do home*/
  color: rgb(255, 255, 255);
  font-family: 'inika';
  left: 8em;
  margin-top: 13em;
  padding:5em;
  width:35em ;

}
.align-items-start {/* Foi oq resolveu o problema da rolagem em baixo*/
 align-items: flex-start!important;
  margin-right: 9em;
}

/* mais vendidos */
.product {
  position: relative;
  overflow: hidden;
  background: #1E1D1E;
  margin-top: -1em;

}
.btn-light {
  color: #f7f7f7;
  background-color: #331C68;
  border-color: #331C68;
  border-radius:2em;
  margin-left: 75em;
  margin-top: -9em;
}
.product-category {
 margin-left: 3em;
  font-size: 2.6em;
  margin-bottom: 1.5em;
  text-transform: capitalize;
  font-family: 'Poppins';
  color: #FFFFFF;
  top:2em;
  
}
.product-container {
  padding: 0 6vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.product-container::-webkit-scrollbar {
  display: none;
}
.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}
.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.product-thumb {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.product-brand{
  font-family:'Poppins';
  font-size: 1.9em;
  margin-top: -1.8em;
  color: #FFFFFF;
}
.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}
.price1  {
  font-weight: 900;
  font-size: 20px;
  color: #FFFFFF;
}
.actual-price1 {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
  color: #FFFFFF;
}
.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(14 14 14 / 0%) 0%, #0e0e0e00 100%);  cursor: pointer;
  z-index: 8;
}
.pre-btn {
  left: 0;
  transform: rotate(180deg);
}
.nxt-btn {
  right: 0;
}
.pre-btn img,
.nxt-btn img {
  opacity: 0.2;

}

/* Categoria */
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * 0.8);/* Foi oq resolveu o problema da rolagem em baixo os cards*/
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.categoria{
  background: #0E0E0E;
  color: rgb(255, 255, 255);
}
.text-start {
  text-align: left!important;
  margin: 1em;
}
.tit{
  color: #fefefe;
  font-family: 'poppins';
  z-index: 5;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #00000000;
  background-clip: border-box;
} 
.card-img-top {
  width: 10%;
  height: 75%;
  margin-bottom: 1em;
  min-width: 19.5em;
  margin-left: 1em;
  margin-right:1em ;
  transition: transform .70s;
}

.card-title{
  font-family:'poppins';
  font-size:1.7em ;
  
}

/* Semana jogos */

.semana-jogos{
 background-color: #020206;
}
.img-fluid {
  max-width: 65%;
  height: auto;
  margin-top: 5em;
  margin-bottom: 5em;
}
.gam{
  background-color: #020206;

}

.img-fluid-gam {
  max-width: 100%;
  height: auto;
  margin-top: 5em;
  margin-bottom: 5em;

}

/* FOOTER pag home */
.footer1{
  padding: 1.5rem!important;
  background-color: #020206;
}
.text-uppercase {
  /* line-height: normal; */
  text-transform: uppercase!important;
  font-family: 'Poppins';
  font-style: italic;
  color: white;
  font-weight: 100;
}
a{
  text-decoration: none;
}
p{
  margin-top: 0;
  margin-bottom: 1rem;
  color: white;
  font-family: 'Poppins';
  font-size: 1.2em;
}


/* PAGINA GAMES */
.navbar-expand-lg{
  background-color: #0e0e0e;
  height: 5em;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color:#fefefe;
}

.navbar-expand-lg .navbar-collapse .game {
  margin-left: 26em;
  padding-left: 2em;
  font-family: Inika;
  font-style: normal;
  font-size: 1.5em;
  line-height: 2em;
}

.titgames h2{
  color: rgb(255, 255, 255);
 font-style: italic;
 font-size: 2.9em;
 margin-top: 0;
 padding-left: 3em;
 padding-top: 3.3em;
 margin: 0;
}

.games{
 background-color: #181718;
 padding-bottom: 6em;
}
.product-games {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}
.titulo-games{
  font-family:'Poppins';
  font-size: 1.5em;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  margin-top: -1em;

}
.price2  {
  font-weight: 900;
  font-size: 20px;
  color: #FFFFFF;
  margin-left:4em ;
  margin-top: -2em;
  margin-bottom: 2em;
}

.container{
  margin-top: 2em;
}
  
.card-img {
  margin-bottom: 2em;
  min-width:13em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
  transition: transform .75s;
}
.card-img:hover{
  transform: scale(1.15);
}
.footer2{
 background-color: #331C68;
}


.pre-btn img{
  opacity: 16;
}
.nxt-btn img{
  opacity: 16;
}

.card-img #g1{
  width: 40%;
}

@media screen and (max-width: 500px){
    #tithome{
      margin-top: -5em;
      margin-right: 3em;
    }
  .navbar-brand{
    margin-top:-1.2em ;
  }
 
  .product{
    margin-top: -18em;
  }
  .btn-light{
    margin-left: 22em;
    border-radius: 5em;
  }
  #botao{
    top:-5em;
    margin-left: 24em;
  }
  .card-group>.card{
    margin-left: 5em;
  }
  
 .semana-jogos{
   margin-bottom: 15em;
 }
  .img-fluid {
    max-width: 80%;
  }

  
}
@media screen and (max-width:769px){
  .navbar-brand{
    margin-top:-1.3em ;
  }
  #tithome{
    margin-top: -4.5em;
    margin-right: 3em;
  }
  .product{
    margin-top: -16em;
  }
  .btn-light{
    margin-left: 39em;
    border-radius: 5em;
  }
  #botao{
    top:-5em;
    margin-left:40em;
  }
  .card-img-top{
    min-width: 93%;
  }
 .semana-jogos{
   margin-bottom: 15em;
 }
 
  
}
@media screen and (max-width:1024px){
  .navbar-brand{
    margin-top:0.4em ;
  }
  .navbar-expand-lg .navbar-collapse{
    margin-left: 12em;
  }
  #tithome{
    margin-top: -4.5em;
    margin-right: 3em;
  }
  .product{
    margin-top: -16em;
  }
  .btn-light{
    margin-left: 55em;
    border-radius: 5em;
  }
  #botao{
    top:-5em;
    margin-left:55em;
  }
  #tithome{
    margin-top: -4.5em;
    margin-right: 3em;
  }
  .product{
    margin-top: -16em;
  }
  .btn-light{
    margin-left:55em;
    border-radius: 5em;
  }
  #botao{
    top:-5em;
    margin-left:55em;
  }
  .semana-jogos{
    margin-bottom: 15em;
  }
  .card-img-top{
    min-width: 95%;
  }
}
@media screen and (max-width:1024px){

  .navbar-expand-lg .navbar-collapse{
    margin-left: 12em;
  }
  #tithome{
    margin-top: -4.5em;
    margin-right: 3em;
  }
  .product{
    margin-top: -16em;
  }
  .btn-light{
    margin-left: 55em;
    border-radius: 5em;
  }
  #botao{
    top:-5em;
    margin-left:55em;
  }
  #tithome{
    margin-top: -4.5em;
    margin-right: 3em;
  }
  .product{
    margin-top: -16em;
  }
  .btn-light{
    margin-left:55em;
    border-radius: 5em;
  }
  #botao{
    top:-5em;
    margin-left:55em;
  }
  .semana-jogos{
    margin-bottom: 15em;
  }
  .card-img-top{
    min-width: 95%;
  }

}

@media screen and (max-width:2560px){
  .navbar-brand{
    margin-top:0.4em ;
  }
}
