/*Navbar*/
.navbar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
 .navbar-nav .nav-link  {
    margin-left: 1em;/*espaço entre cada palavra do navbar*/
    letter-spacing: 1mm;/*espaço entre cada letra do navbar*/
}

.navbar-light .navbar-nav .nav-link{
    color: #fffbfb; /*Cor da letra do navbar*/
    font-size: 1.2em;/* tamanho das letras do navbar*/
    font-weight: 700em;
    font-family: 'Boulder';
    
}
.navbar .container .logo {
    padding-left: 1em;
    width: 11em;
}


.offcanvas {
    position: fixed;
    bottom: 0;
   
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color:#ffc765de;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}


/*  Home   inicio  */
.home{
    display: flex;
    background-image : url('../img/banner2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
    min-height: 300px;
    font-family: 'Kanit', sans-serif, bold;
}

/*Pratos especiais texto*/
.especiais{
    background-color:#ffc765b7;
}
.pratos{
 text-align:center;
 font-size: 3.5rem;
 padding: 1rem;
 color: rgb(255, 255, 255);
}
.pratos span{
    color:#B90113;
}
/*Pratos especiais cards*/
 .container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
 }

 


/*  sessão sobre  */
section{
    padding: 5em 0;
}
section .title{/* Tudo do titulo sobre */
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1.4em;
    padding-bottom: 20px;
    position: relative;
}
section .title::before{/*  barra preta em baixo do sobre */
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 5em;
    height: 3px;
    background: rgb(0, 0, 0);
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom:-12px;
    left: 50%;
    font-size: 20px;
    background: #fff;
    color: #f70a0ade;
    padding: 5px;
    transform: translateX(-50%);
}
.sobre{
    font-family: 'Roboto', sans-serif;
}
.sobre .about-content{
   margin-left:5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
   margin-right: 10em;
}
.sobre .title::after{
    content: "Art Burguer";
}
.sobre .about-content .left{
    width: 35%;
}
.sobre .about-content .right{
    width: 50%;
}
.sobre .about-content .right .text{
    font-size: 2em;
    font-weight: 3em;
    margin-bottom: 0,5rem;
}
.sobre .about-content .right .text span{
    color: #f70a0ade;
}
.sobre .sobre-content .right p{
    text-align: justify;
}
.sobre .about-content .right a:hover{
    background: none;
}
.sobre .about-content .left img{
    width: 30em;
    height: 25em;
    object-fit: cover;
    border-radius: 2em;
}

/*CARDS*/
main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 1em;
    cursor: pointer;
    height: 25em;
}
main.cards {
    display: flex;
    gap: 50px;
    padding: 5em;
    padding-top: 1em;
    margin: 2em;
}
main.cards section.card:first-child {
    margin-left: 1em;
    height: 25em;
}
main.cards section.card .img {
    width: 4.5em;
    height: 5em;
}
main.cards section.card img {
    width: 9.5em;
    margin-left: -2em;
}
main.cards section.card h3 {
    font-size: 100%;
    margin: 1em ;
}
main.cards section.card span {
    font-weight: 2em;
    max-width: 15em;
    font-size: 80%;
    margin: 1.5em 0.5em;
}




 /*responsividade */
@media screen and (max-width: 720px) {

    /*Sobre */
    .sobre .sobre-content .right p{
        text-align: justify;
        height: 10em; 
    }
    

    /*cards */
    main.cards {
        flex-direction: column;
        padding: 26px;
    }

    main.cards section.card {
        margin-left: 1em;
        margin-bottom: 2em;
    }

    main.cards section.card:last-child {
        margin-bottom:2em;
    }

    main.cards section.card button {
        font-size: 70%;
    }


    
}